.container-fluid
{
    padding: 40px; background-color: #e5e5e5; height: 300px;
}

ul
{
    list-style-type:none;
    display:inline-block;
}


.radio-btn
{
    margin-left: 70px;
}

.txtScored1, .txtScored2, .txtScored3, .txtScored4
{
    margin-left: 70px;
}

.txtAllowed1, .txtAllowed2, .txtAllowed3, .txtAllowed4
{
    margin-left: 70px;
    margin-top: 5px;
}

.txtSpectator1, .txtSpectator2, .txtSpectator3, .txtSpectator4
{
    margin-left: 70px;
    margin-top: 5px;
}

    .game1
{
    float:left;
    margin-left: 10px;
    width: 280px;
    height: 180px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #c5c5c5;
}

.game2
{
    float:left;
    margin-left: 35px;
    width: 280px;
    height: 180px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #c5c5c5;
}

.game3
{
    float:left;
    margin-left: 50px;
    width: 280px;
    height: 180px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #c5c5c5;
}

.game4
{
    float:right;
    margin-left: 30px;
    width: 280px;
    height: 180px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #c5c5c5;
}